@page "{RestaurantID:int}"
@model MyVersion.Pages.Restaurants.EditModel
@using Microsoft.AspNetCore.Http

@{

    @*if (HttpMethods.IsPost(Model.Request.Method) == true)
        {
            //something cool you can do with post or get on one page
            <h3>@Model.restName</h3>
            <h3>@Model.restType</h3>
            <h3>@Model.restLocation</h3>

        }*@
}

<form method="post">
    @*<input type="hidden" value="@Model.Restaurant.Id" name="restId" />
        <input type="text" value="@Model.Restaurant.Name" name="restName" />
        <input type="text" value="@Model.Restaurant.Location" name="restLocation" />*@

    <input type="hidden" asp-for="Restaurant.Id" />
    <input type="text" asp-for="Restaurant.Name" />
    <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    <input type="text" asp-for="Restaurant.Location" />
    <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    <select asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines">
    </select>
    <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
    <button type="submit">Save</button">
</form>



